<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/E_Commerce.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--Partial View-->
       <partial name="_NavbarView"/>
    </header>
    <div class="container">
        @RenderBody()
    </div>
<!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to GimmyJR</h1>
            <p>Find the best products at unbeatable prices.</p>
            <a  class="btn" asp-controller="Product" asp-action="GetAll">Shop Now</a>
        </div>
    </section>

 
    <!-- Footer -->
    <footer>
        <div class="footer-links">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
        <div class="social-media">
            <a href="https://www.facebook.com/profile.php?id=100068061166538">Facebook</a>
            <a href="https://x.com/GimmyJR">Twitter</a>
            <a href="https://www.instagram.com/ahmedgamal494/">Instagram</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>