@model E_Commerce.Models.RoleVm

@{
    ViewData["Title"] = "NewRole";
}

<h1 class="form-title">Create New Role</h1>

<hr />
<div class="form-container">
    <div class="form-card">
        <form asp-action="NewRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Role_Name" class="control-label"></label>
                <input asp-for="Role_Name" class="form-control" />
                <span asp-validation-for="Role_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<link href="/css/newRoleStyles.css" rel="stylesheet" />
